body{
  background-color: lightgray;
}
.container{
  width: 1200px;
  height: auto;
  
  
}
.searchBar{
  width: 500px;
}
.cardContainer{
  margin-top: 25px;
}
.card{
  transition: all 0.4s ease;
}
.card:hover{
  transform:translateY(-10px)

}

@media  screen and (min-width:992px) {
  .navbar-collapse{
    justify-content: flex-end;
  }
}

/*.maravijaya,.shwedagon,.kyaikhtiyo{
  height: 720px;
}